.usersContainer
  margin-top: 15px
  width: 100%
  height: 100%
  display: flex
  flex-direction: column

::-webkit-scrollbar 
  display: none

.usersArea
  padding: 0 15px
  margin-top: 15px
  border-radius: 15px

  box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.8)
  background-color: #1a1f23
  width: 100%
  max-height: 82.5%
  overflow: hidden
  background-color: transparent
  
  &__container
    height: 100%
    overflow-y: scroll
    scroll-behavior: smooth
    box-sizing: content-box
    background-color: transparent
    display: flex
    flex-direction: column
    align-items: flex-start

.addUser__button
  height: 45px
  width: 130px
  border-radius: 12px
  border: none
  box-sizing: border-box
  font-size: 22px
  line-height: 20px
  outline: none
  background-image: linear-gradient(225deg, #9d5ece 0%, #4d1a9e 100%)
  color: #fff
  -webkit-box-shadow: 3px 3px 6px 4px rgba(0,0,0,0.51)
  -moz-box-shadow: 3px 3px 6px 4px rgba(0,0,0,0.51)
  box-shadow: 3px 3px 6px 4px rgba(0,0,0,0.51)
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  &:hover
    background-image: linear-gradient(225deg, #c476ff 0%, #6925d6 100%)
  &:focus
    outline: none