.userItemContainer
  margin-top: 15px
  padding: 12px 16px
  border-radius: 15px
  display: flex
  justify-content: flex-end
  width: 100%
  overflow: hidden
  box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.8)
  background-color: #1a1f23
  min-height: 70px
  &:last-child
    margin-bottom: 15px

.user__button
  margin-left: 15px
  height: 45px
  width: 130px
  border-radius: 12px
  border: none
  box-sizing: border-box
  font-size: 22px
  line-height: 20px
  outline: none
  background-image: linear-gradient(225deg, #9d5ece 0%, #4d1a9e 100%)
  color: #fff
  -webkit-box-shadow: 3px 3px 6px 4px rgba(0,0,0,0.51)
  -moz-box-shadow: 3px 3px 6px 4px rgba(0,0,0,0.51)
  box-shadow: 3px 3px 6px 4px rgba(0,0,0,0.51)
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  &:hover
    background-image: linear-gradient(225deg, #c476ff 0%, #6925d6 100%)
  &:focus
    outline: none

.deleteUser__button
  background-image: linear-gradient(225deg,#414141 0%, #222222 100%)
  &:hover
    background-image: linear-gradient(225deg, #616161 0%, #333333 100%) 

.userButtonsContainer
  min-width: 290px

.userName
  width: 100%
  background-image: linear-gradient(45deg, #161a1f 0%, #2d3339 100%)
  color: #fff
  display: flex
  justify-content: center
  align-items: center
  font-size: 3rem
  border-radius: 8px
  -webkit-box-shadow: 3px 3px 6px 4px rgba(0,0,0,0.51)
  -moz-box-shadow: 3px 3px 6px 4px rgba(0,0,0,0.51)
  box-shadow: 3px 3px 6px 4px rgba(0,0,0,0.51)
